/*
 * Copyright (c) 2019 Callender-Consulting, LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/ {
    arrowkeys: arrow_keys {
        compatible = "gpio-keys";
        arrowup: arrow_up {
            gpios = <&gpio0 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Arrow up key";
        };
        arrowdown: arrow_down {
            gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Arrow down key";
        };
        arrowleft: arrow_left {
            gpios = <&gpio0 18 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Arrow left key";
        };
        arrowright: arrow_right {
            gpios = <&gpio0 19 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Arrow right key";
        };
        arrowenter: arrow_enter {
            gpios = <&gpio0 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Arrow enter key";
        };
    };
    aliases {
        button1  = &button0;
        button2  = &button1;
        switch1  = &button2;
        switch2  = &button3;
    };
};